<%= render 'common/navigation' %>

<div style="width:80%;float:left">
  <h1>Front#index</h1>
  <p>Find me in app/views/front/index.html.erb</p>

  <ul>
    <li>This is li</li>
  </ul>
</div>

<div style="width:20%;float:right">
  <select>
    <option>1</option>
    <option>2</option>
  </select>
</div>