// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

.groups {
   a.link-edit-group {
    cursor: pointer;
    cursor: hand;
    text-decoration: blink;
  }

  .group-title-bar {
    min-width: 400px;
    height: 100px;
    overflow: hidden;
    background-color: $gray-lighter;
    border-radius: 3px;

    .group-title {
      float: left;
      margin: 15px;
      margin-top: 35px;
    }

    .group-image-avatar {      
      img {
        width: 100px;
        height: 100px;
      }
    }
  }
}